<a href="https://colab.research.google.com/github/Sourav-2510/YBI-Internship/blob/main/ServoPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Servo Prediction Using Linear Regression

##Objective
###Servo prediction using 167 observations on 5 variables,4 nominal and 1 as the target class

##Data Source
###http://github.com/YBI-Foundation/Dataset/raw/main/Servo%20Mechanism.csv

##Import Library

In [1]:
import pandas as pd

#Import Data

In [2]:
servo=pd.read_csv('http://github.com/YBI-Foundation/Dataset/raw/main/Servo%20Mechanism.csv')

##Describe Data

In [3]:
servo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Motor   167 non-null    object
 1   Screw   167 non-null    object
 2   Pgain   167 non-null    int64
 3   Vgain   167 non-null    int64
 4   Class   167 non-null    int64
dtypes: int64(3), object(2)
memory usage: 6.6+ KB

In [5]:
servo.describe()

            Pgain       Vgain       Class
count  167.000000  167.000000  167.000000
mean     4.155689    2.538922   21.173653
std      1.017770    1.369850   13.908038
min      3.000000    1.000000    1.000000
25%      3.000000    1.000000   10.500000
50%      4.000000    2.000000   18.000000
75%      5.000000    4.000000   33.500000
max      6.000000    5.000000   51.000000

In [13]:
servo[['Motor']].value_counts()

Motor
C        40
A        36
B        36
E        33
D        22
dtype: int64

In [15]:
servo[['Screw']].value_counts()

Screw
A        42
B        35
C        31
D        30
E        29
dtype: int64

##Data Visualization

In [16]:
servo.head()

  Motor Screw  Pgain  Vgain  Class
0     E     E      5      4      4
1     B     D      6      5     11
2     D     D      4      3      6
3     B     A      3      2     48
4     D     B      6      5      6

#Data Preprocessing

###converting all the datas into integer values

In [19]:
servo.replace({'Motor':{'A':0,'B':1,'C':2,'D':3,'E':4},'Screw':{'A':0,'B':1,'C':2,'D':3,'E':4}},inplace=True)

In [20]:
servo.head()

   Motor  Screw  Pgain  Vgain  Class
0      4      4      5      4      4
1      1      3      6      5     11
2      3      3      4      3      6
3      1      0      3      2     48
4      3      1      6      5      6

##Define Target And Feature Variable

In [28]:
y=servo[['Class']]

In [29]:
y

     Class
0        4
1       11
2        6
3       48
4        6
..     ...
162     44
163     40
164     25
165     44
166     20

[167 rows x 1 columns]

In [30]:
y.shape

(167, 1)

In [31]:
x=servo.drop(['Class'],axis=1)

In [32]:
x

     Motor  Screw  Pgain  Vgain
0        4      4      5      4
1        1      3      6      5
2        3      3      4      3
3        1      0      3      2
4        3      1      6      5
..     ...    ...    ...    ...
162      1      2      3      2
163      1      4      3      1
164      2      3      4      3
165      0      1      3      2
166      0      0      6      5

[167 rows x 4 columns]

In [33]:
x.shape

(167, 4)

###Train Test Split

In [34]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=2529)

In [38]:
x_train.shape

(125, 4)

In [39]:
x_test.shape

(42, 4)

In [40]:
y_train.shape

(125, 1)

In [41]:
y_test.shape

(42, 1)

##Modeling

In [42]:
from sklearn.linear_model import LinearRegression

In [43]:
reg=LinearRegression()

In [44]:
reg.fit(x_train,y_train)

LinearRegression()

In [48]:
reg.intercept_

array([80.53763137])

In [49]:
reg.coef_

array([[ -1.84562802,  -2.99082183, -15.29858459,   5.13523517]])

##Model evaluation

In [46]:
y_pred=reg.predict(x_test)

In [58]:
y_pred

array([[25.56654851],
       [31.24940687],
       [19.04876502],
       [24.47852818],
       [39.37546387],
       [24.37566459],
       [11.92192754],
       [19.94086363],
       [41.22109189],
       [41.9215261 ],
       [13.76755557],
       [25.9225073 ],
       [17.203137  ],
       [15.50606268],
       [22.23125126],
       [21.48770634],
       [-4.92349976],
       [31.10343258],
       [32.9490606 ],
       [ 0.46057329],
       [34.2402287 ],
       [32.24862639],
       [34.53901401],
       [30.10421306],
       [18.94164411],
       [ 7.03978758],
       [29.21211445],
       [16.9500418 ],
       [24.77731349],
       [ 4.04896574],
       [31.05774247],
       [23.93090499],
       [35.93988243],
       [31.94984108],
       [11.81480663],
       [ 3.60420614],
       [22.63290015],
       [33.09503489],
       [16.65125649],
       [38.23027006],
       [28.55737035],
       [21.78649166]])

In [53]:
from sklearn.metrics import mean_absolute_percentage_error,mean_absolute_error,mean_squared_error,r2_score

In [54]:
mean_absolute_error(y_test,y_pred)

6.735955685746795

In [55]:
mean_absolute_percentage_error(y_test,y_pred)

0.7695731053957344

In [56]:
mean_squared_error(y_test,y_pred)

60.211561593192876

In [57]:
r2_score(y_test,y_pred)

0.706476624263817

##Prediction

In [59]:
x_new=servo.sample(1)

In [60]:
x_new

     Motor  Screw  Pgain  Vgain  Class
101      0      4      3      2     44

In [61]:
x_new=x_new.drop(['Class'],axis=1)

In [62]:
x_new

     Motor  Screw  Pgain  Vgain
101      0      4      3      2

In [63]:
y_new_pred=reg.predict(x_new)
y_new_pred

array([[32.9490606]])

The actual class of the x value is 44 and the model predicted it as 32 . The model only provides 70% accuracy in prediction